@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-100 bg-slate-950;
  font-family: Inter, system-ui, sans-serif;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}
